.containerAboutMe {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem 2.5rem;
  background-color: var(--color-lightGray);
  margin: auto;
  border: 1px solid var(--color-lightViolet);
  line-height: 1.4;
}

.aboutMe {
  font-weight: 500;
  margin-top: 1rem;
  width: 60%;
}
@media (max-width: 768px) {
  .aboutMe {
    width: 90%;
  }
}
