.containerBlog{
    display: grid;
    grid-template-columns: repeat(2,30%);
    place-content: center;
    margin-top: 3rem;
}

.cardBlog{
    margin: 1rem;
    text-align: center;
    border: 1px solid #f5f5f0;
    padding: 1.4rem .6rem;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px
}

.cardBlog:hover{
    background-color: var(--color-lightGray);
    color: var(--color-violet)
}

.subCard{
    margin:.6rem;
}