.containerWeb {
  width: 50%;
  background-color: var(--color-lightGray);
  padding: 2rem;
  border-radius: 0.2rem;
  margin: 3% auto;
  cursor: pointer;
}

.containerWeb li{
  margin: .3rem 0;
}
.containerWeb h3{
margin-bottom: 1.1rem;
color: var(--title-main);
}

@media(max-width:768px){
  .containerWeb{
    width: 85%;
  }
}