.containerFooter{
    display: flex;
    justify-content: space-evenly;
    padding: 1.2rem;
    margin-top:5%;
    border-top: 1px solid var(--color-lightViolet2);
    font-size: .88rem;
}

.containerFooter a{
  color:var(--color-dark);
  text-decoration-color: var(--color-lightViolet2);
  margin: 0 .2rem;
}

.containerFooter a:hover{
color: var(--color-violet);
}

.items{
  display: flex;
  flex-direction: column;
}

.social_media{
  display: flex;
  flex-direction: row;
}

.social_media p{
  margin: 0 .5rem;
}