.containerFooter{
    display: grid;
    grid-template-columns: repeat(3, 33%);
    place-items: center;
    padding: 1.2rem;
    margin-top:5%;
    border-top: 1px solid var(--color-lightViolet2);
    font-size: .88rem;
}

.containerFooter a {
  color: var(--color-dark);
  text-decoration-color: var(--color-lightViolet2);
  margin: .2rem .4rem;
  display: inline-flex;
  transition: transform 0.25s ease, color 0.25s ease;
}

.containerFooter a:hover{
  color: var(--color-violet);
}

.social_media a:hover {
  color: var(--color-violet);
  transform: scale(1.2);
}


/*Frecuent questions and presupuest*/

.items{
  display: flex;
  flex-direction: column;
}

.social_media{
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 0 .5rem;
}

@media(max-width:768px){
  .containerFooter{
    grid-template-columns: 1fr;
  }
  .items{
    margin: .5rem;
  }
}