.containerNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.links{
  padding: .44rem;
}

.logo img {
  max-width: 200px;
  position: absolute;
  left: 0px;
  top: -3.8em;
}

.btnNav {
  display: inline-block;
  transition-timing-function: ease-out;
  transition-duration: 0.25s;
  padding: 0.55rem 0.77rem;
  border: 1.3px solid var(--color-violet);
  background-color: var(--color-white);
  margin: 0 0.6rem;
  font-size: 0.88rem;
  color: var(--color-violet);
  border-radius: 0.3rem;
  font-family: inherit;
  text-decoration: none;
  cursor: pointer;
  font-weight: 600;
}

.btnNav:nth-child(3) {
  color: var(--color-white);
  background-image: linear-gradient(to bottom right, #9374FE, #C467C3);
}

.btnNav:hover {
    box-shadow: .20rem .20rem .20rem var(--color-violet);
    transform: translate(-.25rem, -.25rem);
}


@media (max-width: 480px) {
  .containerNav {
    justify-content: center;
  }
  .logo img {
    display: none;
  }
}
