.containerPresentation {
  display: grid;
  grid-template-columns: 60% 30%;
  place-content: center;
  margin-top: 4rem;
  align-items:center ;
}

.title{
  font-weight: 500;
  color: var(--title-main);
  font-size: 2rem;
}

.btnTalk {
  background-color: var(--color-violet);
  display: inline-block;
  text-decoration: none;
  font-size: 0.8rem;
  font-family: inherit;
  text-align: center;
  color: var(--color-white);
  border-radius: 0.2rem;
  padding: 0.6rem 0.8rem;
  margin: 0.8rem 0;
  cursor: pointer;
  margin-right: 1rem;
  background-image: linear-gradient(to bottom right, #9374FE, #C467C3);
}
.btnTalk:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.btnDeveloper {
  composes: btnTalk;
  color: var(--color-dark);
  background-image: linear-gradient(to bottom right, var(--lightBg-btn));
  background-color: var(--lightBg-btn);
}

.description {
  margin: 0.5rem 0;
  color: var(--color-gray);
}

@media(max-width:768px){
  .containerPresentation{
    grid-template-columns: 1fr;
    margin: 3rem 1rem;
    text-align: left;
  }
}
@media(max-width:480px){
.titleFrontend{
 font-size: 1.6rem;
}
.title{
  font-size: 2rem;
}
}